@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
.head{
    display: flex;
    margin: 20px;
   padding-left: 10%; 
   font-family: 'Special Elite', cursive;
   }
   .head p{
       margin-bottom: 0px;
   }
.bout p{
    font-size: 35px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: bold;
    line-height: 1.5em;
   padding-left: 10%;
   padding-right: 10%;
    text-align: center;
}
.part {
    
    animation: corner 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  }
  $s: 100% / 8;
  $t: 5.5;
  
  @keyframes corner {
    #{$s * 0} {
      border-top-left-radius:70% 10% ;
    }
    #{$s * 1} {
      border-top-left-radius: 70%;
      border-top-right-radius: 70%;
    }
    #{$s * 2} {
      border-top-right-radius: 10% 70%;
    }
    #{$s * 3 - $t} {
      border-top-right-radius: 70% 10%;
    }
    #{$s * 3} {
      border-top-right-radius: 70%;
    }
    #{$s * 4} {
        border-top-left-radius: 70%;
    }
    #{$s * 4 + $t} {
        border-top-left-radius: 70% 10%;
    }
  }
  
.bout{
    margin:40px;
    padding: 5px 5px 5px 15px;
    padding: 30px;
    width: 70%;
    background-color: rgba(99, 63, 38, 0.897);
    box-shadow: 5px 5px 250px rgb(41, 40, 40) ;
   position: relative;
   left: 5%;
   bottom: 7em;
   align-content: center;
   margin: 40px; 
   display: inline-flex;   
}

.col-1{
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    
}


@media (min-width: 1100px){
    .head{
        font-size: 110px;
     
    }
}

@media (min-width: 900px) and (max-width:1099px)
{
  .head{
    font-size: 90px;

  }
  .bout p{
      font-size: 30px;
  }
 
}
@media (min-width: 769px) and (max-width:899px)
{
    .head{
        font-size: 70px;
    }
    .bout p{
        font-size: 25px;
    }
 
}
@media (max-width: 768px)
{
    .head{
        font-size: 60px;
    }
    .bout p{
        font-size: 25px;
        padding-left: 0%;
        padding-right: 0%;
    }
 
}