.collection-item {
  width: 72%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 70%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button{
    width: 50%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover{
    .image{
      opacity: 0.8;
    }

    .custom-button{
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
<<<<<<< HEAD
    width: 70%;
=======
    width: 80%;
>>>>>>> b74bc63fc45809e3c0dbeb7fd10805f894e1484e
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }
  }
}
.collection-page
{
  padding-left:6%;
}
