
.collection-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  position: relative; 
  
  &:hover{
    .image{
      opacity: 0.8;
    }
    .custom-button{
      opacity: 0.85;
      display: flex;
    }

}
  .image {
    width: 80%;
    min-height: 95%;
    background-size: cover;
    background-position: center;
  }

  .custom-button{
    width: 50%;
    opacity: 0.7;
    position: absolute;
    top: 260px;
    display: none;
  }

 
  }

  .collection-footer {
    width: 80%;
    height: auto;
    display: flex;
    background: rgba(243, 242, 224, 0.466);
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    padding-right: 3px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.76);

    .name {
      width: 70%;
      padding-left: 3px;
      padding-bottom: 8px;
      padding-right:7px;
      
    }
    .by{
      padding-bottom: 8px;
      padding-right:7px;
    }
  }

.collection-page
{
  padding-left:6%;
}
.pop{
  width: 50%;
  opacity: 0.7;
  position: absolute;
  top: 100px;
  right: 31%;
  display: none;
  display: inline-block;
}

.ho{
  padding:20px;
}
.pop .ho{
  visibility: hidden;
  min-width: 12vw ;
  max-height: 140px;
  overflow: scroll;
  scrollbar-color: grey black;
  background-color: rgba(0, 0, 0, 0.849);
  color: #fff;
  font-size: .8em;
  text-align: center;
  border-radius: 6px;  
  z-index: 1;
  position: absolute;
  font-size: 15px;
}
.pop .ho::-webkit-scrollbar {
  width: 16px;
}

/* Track */
.pop .ho::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.pop .ho::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  background: rgb(0, 0, 0) !important; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-corner{
  background: rgba(0, 0, 0, 0); 
}
.collection-item:hover .ho{
  visibility: visible;
}



@media only screen and (max-width: 1400px) {
  .pop{
    width: 50%;
    right: 25%;
  }
}

@media only screen and (max-width: 1250px) {
  .collection-footer{
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .collection-item {
    height: 350px;
  }
  
  .ho{
    padding:10px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

@media only screen and (max-width: 930px) {
  .collection-item {
    width: 100%;
    height: 300px;
  }

  .pop{
    width: 60%;
    top: 80px;
    right: 20%;
  
  }

  .ho{
    padding:10px;
  }
  
  .custom-button{
    top: 240px !important;
  }
}

@media only screen and (max-width: 700px) {
  .collection-item {
    width: 100%;
    height: 250px;
  }

  .pop{
    width: 60%;
    top: 50px;
    right: 20%;
  
  }
  
  .custom-button{
    min-width: 130px;
    width: 50%;
    top: 200px !important;
    padding: 0 10px;
  }
}