.privacy {
    padding:20px 40px;
}

.heading h4{
    font-size: 20px;
    font-weight:900;
}

.heading p,ul{
    font-weight: bold;
}

ul {
    list-style-type:circle;
}

.welcome {
    margin: 0rem;
    font-weight: bold;
}
