@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.contact-us h1{
    font-size: 48px;
    text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin: 10px;
}
.headt{
    display: inline-flex;
    width: fit-content;
    align-items: center;
    margin-left: 130px;
}
.headt img{
    width: 7%;
    height: 7%;
  vertical-align: 105px;
//  padding-top: 200px;
}
.form{
    margin: 60px;
    margin-left: 30%;
    margin-right: 30%;
}

@media only screen and (max-width: 768px)
{

    .headt{
        margin: auto;

  text-align: center;
    }
    .headt h1{
        font-size: 30px;
    }
    
}