@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.sign-in-and-sign-up{
    width: 50%; 
    justify-content: space-between;
    margin: 30px auto;
}

h2{
    font-family: 'Special Elite', cursive;
}

.foot-fix {
    position:relative;
    bottom:0;
}

.custom-button{
    padding: 0;
}

@media only screen and (max-width: 1550px) {
    .sign-in-and-sign-up{
        width: 70%;
    }
}

@media only screen and (max-width: 1100px) {
    .sign-in-and-sign-up{
        width: 85%;
    }
}

@media only screen and (min-width: 900px)
{
    .sign-in-and-sign-up{
        display: flex;
        justify-content: space-between;
    } 
  
}
@media (min-width: 769px) and (max-width:899px)
{
    .sign-in-and-sign-up{
        width: 50%; 
    } 

 
}
@media only screen and (max-width: 768px)
{
    .sign-in-and-sign-up{
        margin: 10px auto;
        width: 50%; 
    } 

 
}