.slider {
    width: 100% !important;
    height: 200px !important;;
    margin:10px;
    text-align: center;
}

.center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}
.center h3 {
    opacity: 0.8;
    transition: all .4s ease;
}

h3 {
    background: #5f9ea0;
    color: #fff;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}