:root {
   --main-bg-color: ;
}
.dark :root {
   --main-bg-color: #000000;
}

body {
   font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 20px;
   background:url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat;
   background-size: cover;
}

a {
   text-decoration: none;
   color: black;
}

* {
   box-sizing: border-box;
}