.heady img{
    width: 5%;
    height: 5%;
}
.heady{
    font-size: 40px;
    width: fit-content;    
    display:flex;
    justify-content: center;
    align-items: center;
}

.row{
display: flex;
justify-content: center;

}
.row div{
    width: 30%;
   text-align: center;
   font-size: 35px;
}
.id{
    width: 200px;
    border-radius: 20%;
    height: 250px;
    object-fit: cover;
}
.arr{
    width: 10%;
  
    position:absolute;
}
.arr2{
    width: 5%;
    position: absolute;
}
.row p{
    padding-top: 100px;
}
.last{
    position: relative;
    right: 80px;
}
.shif{
    position: relative;
    left: 30px;
}