.column-5 {
   height: 1000px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: #ffc40c;
    height: auto;
}
  .w-col-6 {
    width: 50%;
  }
  .w-col {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    
  }
  .column-6 {
    
    flex-direction: row;
    justify-content: center;
    // align-items: baseline;
    background-color: wheat;
   
    font-family: Lato, Arial, sans-serif;
      color: #2a2a2a;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: none;
  } 
  .header-1 {
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
   text-align: center;
    font-family: Jubilat, Georgia, sans-serif;
    color: #2a2a2a;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 2px;
  }